body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

header {
    background: rgb(121, 187, 255);
    background: linear-gradient(180deg, rgba(121, 187, 255, 1) 0%, rgba(66, 151, 239, 1) 100%);
    padding-top: 60px;
    padding-bottom: 100px;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.logo {
    margin-bottom: 20px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
}

.offer {
    width: 700px;
}

.title {
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 10px;
}

.title_span {
    font-size: 48px;
    letter-spacing: 2px;
    font-weight: bold;
}

.title_span:hover{
    color: #FFD429;
    letter-spacing: 4px;
}


.offer_text {
    text-align: justify;
    font-size: 16px;
    width: 390px;
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 25px;
}

.prozent:hover {
    font-size: 32px;
    font-weight: bold;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    background-color: #FFD429;
    color: black;
}

.btn {
    width: 240px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color: #FFD429;
    transition: all 0.5;
}

.btn:hover {
    background-color: #fde689;
}

.animate__animated.animate__pulse {
    animation-iteration-count: 5;
}

.header_img {
    margin-top: 20px;
    width: 400px;
    animation-name: header_img;
    animation-duration: 1.5s;
}

@keyframes header_img {
    from {
        transform: translate(150%, 0);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

/* Вторая секция */

.main{
    padding-top: 50px;
    padding-bottom: 120px;
}

.main_title{
    text-align: center;
    margin-bottom: 50px;
}

.main_block{
    display: flex;
    justify-content: space-between;
}

.blocks{
    width: 300px;
    text-align: center;
}

.blocks img {
    margin-bottom: 10px;
}

.blocks p{
    color: rgb(91, 91, 91);
    font-size: 14px;
}

.sm_pic:hover {
    animation-name: picture;
    animation-duration: 0.8s;
}

@keyframes picture {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* Третья секция */

hr {
    color: #fdfdfd80;
}

.first_form_section{
    /* background-color: #ECF3F8; */
    padding-top: 50px;
    padding-bottom: 50px;
}


.form_section{
    background-color: #ECF3F8;
    padding-top: 50px;
    padding-bottom: 50px;
}

.form_section_blocks{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.error_message{
    width: 280px;
    color: rgb(255, 117, 140);
    font-size: 14px;
    margin: 0px 0px 10px 0px;
}

.forms{
    width: 240px;
    font-size: 12px;
    padding: 7px 20px;
    border: 1px solid rgb(109, 109, 109);
}

.send_button_2{
    width: 282px;
    font-size: 12px;
    height: 30px;
    background-color: white;
    border: 1px solid rgb(109, 109, 109);
}

.send_button{
    width: 282px;
    font-size: 12px;
    height: 30px;
    background-color: #FFD429;
    border: 1px solid rgb(109, 109, 109);
}

.send_button:hover{
    background-color: #fde689;
}

/* Низ */

.bottom_section{
    background: rgb(28,86,153);
    background: linear-gradient(180deg, rgba(28,86,153,1) 0%, rgba(41,134,212,1) 48%, rgba(36,115,208,1) 52%, rgba(106,172,226,1) 100%);
    padding-top: 20px;
    padding-bottom: 20px;
}

.bottom_text{
    text-align: center;
    font-size: 14px;
    color: white;
}

@media screen and (max-width: 1200px)
{
    .container {
        width: 80%
    }

    .offer {
        width: 100%;
    }

    .blocks {
        width: 30%
    }

}

@media screen and (max-width: 992px)
{   
    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .offer_text {
        width: 90%
    }

    .header_img {
        margin-top: 40px;
    }

    .main_block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .blocks {
        margin-top: 40px;
        width: 70%
    }
}

@media screen and (max-width: 768px)
{
    .container {
        width: 90%
    }

    .header_img {
        width: 60%
    }
}

@media screen and (max-width: 576px)
{
    .forms {
        width: 74%;
        padding: 7px 8%;
    }

    .send_button {
        width: 90%
    }

    .send_button_2 {
        width: 90%
    }


    .btn {
        width: 80%;
    }

    .title {
        font-size: 20px;
    }

    .title_span {
        font-size: 36px;
    }

    .form_section_blocks{
        align-items: normal;
        text-align: center;
    }

    .error_message {
        width: 90%;
    }

}